:root {
  --crimson-pro-font: "Crimson Pro", serif;
  --montserrat-font: "Montserrat", sans-serif;
  --lora-font: "Lora", serif;
  --dark-grey: #181719;
  --medium-grey: #828282;
  --medium-light-grey: #a9a9a9;
  --light-grey: #f2f2f2;
  --white: #ffffff;
  --font-size-largest: 3rem;
  --font-size-large: 1.5rem;
  --font-size-medium: 1.125rem;
  --font-size-small: 0.875rem;
  --font-size-smaller: 0.75rem;
  --font-size-smallest: 0.625rem;
  --font-weight-extra-light: 200;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.75rem;
  align-items: center;
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
  background-color: var(--dark-grey);
  color: var(--white);
  font-family: var(--montserrat-font);
  margin: 0;
}

.header {
  width: 100%;
  display: flex;
  padding: 42px 76px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--dark-grey);
}

.header-button {
  outline: none;
  border: 1px solid white;
  text-transform: uppercase;
  font-family: var(--crimson-pro-font);
  font-size: var(--font-size-small);
  background-color: transparent;
  color: var(--white);
  height: min-content;
  padding: 0.5rem;
  font-weight: var(--font-weight-extra-light);
}

.navigation__links {
  display: flex;
  list-style: none;
  gap: 5.375rem;
}

.navigation__link {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  color: var(--white);
}

.navigation__link:target {
  background-color: red;
}

.home {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}

.home__header {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 2.5rem;
}

.home__heading {
  font-family: var(--lora-font);
  font-size: var(--font-size-largest);
  font-weight: var(--font-weight-bold);
  margin: 0;
}

.home__paragraph {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-regular);
}

.home__button {
  display: flex;
  background-color: transparent;
  width: fit-content;
  gap: 0.875rem;
  outline: none;
  border: none;
  color: var(--white);
  align-items: baseline;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
}

.home__content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 55%;
}

.home__image {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-grey);
  width: 410px;
  padding: 1.5rem;
  margin-top: -5em;
  margin-right: 2em;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.card__header {
  display: flex;
  align-items: center;
  gap: 1em;
}

.card__user-picture {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.card__user-info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.card__user-name {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  margin: 0;
}

.card__user-title {
  font-size: var(--font-size-smaller);
  font-weight: var(--font-weight-medium);
  color: var(--medium-grey);
  margin: 0;
}

.card__heading {
  font-family: var(--lora-font);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  width: 70%;
}

.footer {
  font-size: var(--font-size-small);
  color: var(--medium-light-grey);
  font-weight: var(--font-weight-medium);
}

.footer__bold-text {
  font-weight: var(--font-weight-bold);
}
